/* FADE */
.fade-enter-active, .fade-leave-active {
  transition: opacity 100ms ease-in-out;
}

.fade-enter-to, .fade-leave {
  opacity: 1;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

/* FADE-OUT */
.fade-out-active, .fade-out-leave-active {
  transition: opacity 50ms ease-in-out;
}

.fade-out-active {
  transition-duration: 0ms;
}

.fade-out-enter-to, .fade-out-leave {
  opacity: 1;
}

.fade-out-enter, .fade-out-leave-to {
  opacity: 0;
}


/* DECK */

.deck-enter-active {
  animation: push-in 100ms linear;
}

@keyframes push-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  10% {
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}

.deck-leave-active {
  animation: slide-out 100ms linear;
  z-index: 1;
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
  }

  10% {
    opacity: 1;
  }

  100%{
    transform: translateX(-100%);
    opacity: 0;
  }
}

/* SLIDE-IN */

.slide-in-enter-active {
  animation: slide reverse 100ms ease-in-out;
}

@keyframes slide{
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}
